<launch>
  <!-- Arguments -->
  <arg name="model" default="robo_base"/>
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration, explore]"/>
  <arg name="configuration_basename" default="robo_base_conf.lua"/>
  <arg name="open_rviz" default="true"/>

  <!-- robo_base -->
  <include file="$(find robo_base_bringup)/launch/robo_base_remote.launch">
    <arg name="model" value="robot_event_cam" />
  </include>

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find robo_base_slam)/launch/$(arg model)_$(arg slam_methods).launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robo_base_slam)/rviz/$(arg model)_$(arg slam_methods).rviz"/>
  </group>
</launch>
